<div class="container" *ngIf="page">
    <div class="row">
        <div class="col-md-8">
            <div class="button-group pull-right">
                <button class="btn btn-sm btn-primary" [disabled]="currentPageNumber<1" (click)="changePage(-1)">
          <span class="glyphicon glyphicon-backward"></span>
                </button>
                <button class="btn btn-sm btn-primary" [disabled]="currentPageNumber>=page.totalPages-1" (click)="changePage(1)">
          <span class="glyphicon glyphicon-forward"></span>
                </button>
            </div>
            <div *ngIf="kategorije">
                <form *ngIf="isAdmin()" class="form" (ngSubmit)="filter()">
                    <b>category</b>
                    <select name="kategorija" [(ngModel)]="kategorija">
                        <option class="form-control" *ngFor="let category of kategorije" [ngValue]="category">{{category.name}}</option>  
                    </select>
                    <b>title</b> <input name="nameItem" type="text" [(ngModel)]="nameItem">
                    <button class="btn btn-sm btn-success" (click)="submit">filter</button>
                    <button class="btn btn-sm btn-danger" (click)="resetFilter()" value="resetFilter">reset</button>
                </form>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>title</th>
                        <th>category</th>
                        <th>about</th>
                        <th *ngIf="isAdmin()">action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let meniItem of page.content">
                        <td>{{meniItem.name}}</td>
                        <td>{{meniItem.category.name}}</td>
                        <td>{{meniItem.about}} <button *ngIf="!isAdmin()" class="btn btn-danger" [routerLink]="['/vest/', meniItem.id]" class="btn btn-primary">details</button></td>

                        <td>

                            <button class="btn btn-danger" *ngIf="isAdmin()" (click)="delete(meniItem)">delete</button>


                            <button class="btn btn-warning" *ngIf="isAdmin()" (click)="edit(meniItem)">edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <app-edit-save *ngIf="isAdmin()" [kategorije]="kategorije" [vest]="forEdit" (addComponentEmitter)="addVest($event)">
            </app-edit-save>
        </div>